<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SBOX Demo Suite" parallel="true">
    <test name="Test">

        <classes>
            <class name="pageObjects.PostTests">
            </class>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->